#include <dt-bindings/led/led.h>

#include "../include/nrf52-bindings.h"

#include <../boards/arm/particle_xenon/dts/mesh_feather_spi_spi1.dtsi>

/ {
    pwmleds {
        compatible = "pwm-leds";
        red_led_pwm: led_pwm_0 {
                pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
                label = "Red PWM LED";
        };

        green_led_pwm: led_pwm_1 {
                pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
                label = "Green PWM LED";
        };

        blue_led_pwm: led_pwm_2 {
                pwms = <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
                label = "Blue PWM LED";
        };
    };

    aliases {
        led0 = &status_red;
        led1 = &status_green;
        led2 = &status_blue;
        led3 = &user_led;
        pwm-led0 = &red_led_pwm;
        pwm-led1 = &green_led_pwm;
        pwm-led2 = &blue_led_pwm;
        led-strip = &led_strip;
    };
};

&pinctrl {
    pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 13)>,
                    <NRF_PSEL(PWM_OUT1, 0, 14)>,
                    <NRF_PSEL(PWM_OUT2, 0, 15)>;
			nordic,invert;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 13)>,
                    <NRF_PSEL(PWM_OUT1, 0, 14)>,
                    <NRF_PSEL(PWM_OUT2, 0, 15)>;
			low-power-enable;
		};
	};
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&feather_spi { /* MOSI on feather_spi1 */
    compatible = "nordic,nrf-spim";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        label = "WS2812";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <SPI_FREQ>;

        /* WS2812 */
        chain-length = <8>; /* arbitrary; change at will */
        color-mapping = <LED_COLOR_ID_GREEN
                    LED_COLOR_ID_RED
                    LED_COLOR_ID_BLUE>;
        spi-one-frame = <ONE_FRAME>;
        spi-zero-frame = <ZERO_FRAME>;
    };
};
